
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]
<IfModule mod_php5.c>
##################################
## Disable magic quotes
    php_value magic_quotes_gpc off
    php_value max_execution_time 1000

##################################
## Description
#    php_flag zlib.output_compression on

</IfModule>
php_value upload_max_filesize 100M
php_value post_max_size 125M